* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
}

.header, .footer {
    padding: 20px 0;
}

.branding {
    text-decoration: none;
}

.main {
    padding: 60px 0;
}

.product-name {
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
}
